<html>
  <head>
    <title>Github profiles</title>
    <link href='css/github.css' rel='stylesheet'>
  </head>
  <body>
    <form id='add_profile'>
      <input id='username' placeholder='Enter a Github username'>
      <button type='submit'>Load profile</button>
    </form>

    <div class='profile-container'>
    </div>

    <template class="profile-template">
      <div class="profile">
        <div class="left">
          <img src="{{ avatar_url }}">
        </div>

        <div class="right">
          <h3>
            <a href="{{ html_url }}">
              {{ login }}
            </a>
          </h3>
          <h4>Repos: {{ public_repos }}</h4>
          <h4>Followers: {{ followers }}</h4>
        </div>
        <br clear="all">
      </div>
    </template>

    <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
    <script>

      var auth_tokens = 'client_id=b9650ff2d175bf4b8c20&client_secret=4f1e800ffe962f2e96b19eb3f4787a9308596dbb'

      function getUserProfile(login){
        $.get('https://api.github.com/users/' + login + '?' + auth_tokens ,function(user){
          var newProfile = Mustache.render($('.profile-template').html(), user);
        $('.profile-container').append(newProfile);
        })  
      };

    $(document).ready(function(){

      $('#add_profile').on('submit', function(event){
        event.preventDefault();
        getUserProfile($('#username').val());
      });


    });

    </script>
  </body>
</html>